* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.sliders {
    width: 280px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.sliders input {
    position: relative;
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    background: #e6e6e6;
    border-radius: 20px;
    outline: none;
}
.sliders input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #4760f0;
    border-radius: 50%;
}
.output-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 50px;
}
.output-box .output {
    background: #dbdbdb;
    padding: 0 20px;
}
.output-box .copyBtn {
    padding: 0 15px;
    border: 1px solid #dbdbdb;
    color: #bfbfbf;
    cursor: pointer;
}